<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para Agregar Escritorio</title>
</head>
<body>
    <form action='/FormEscritorio/'    method="post"> {% csrf_token %}
        <p> Modelo: <input type = "text" name="modelo">
        <p> Medida: <input type = "text" name="medida">
        <p> Stock: <input type = "text" name="stock">
        <input type = "submit" value="Enviar">
     </form>   
</body>
</html>
