{% extends 'AppPlayground/Padre.html' %}

{% load static %}


{% block Cambiante %}

    <h1>Lista de Cajoneras</h1>


    <ul>
        
        {% for cajonera in cajoneras %}
            <li>
                {{escritorio}}
            </li>
            <div>
                <form action="{% url 'EliminarCajonera' cajonera.id %}" method="POST">{% csrf_token %}
                    <button type="submit"> Eliminar </button>
                </form>
            </div>
        {% endfor %}
            
    </ul>

{% endblock Cambiante %}