{% extends 'AppPlayground/Padre.html' %}

{% load static %}


{% block Cambiante %}

    <h1>Lista de Mesas de Luz</h1>


    <ul>
        
        {% for mesa in mesas %}
            <li>
                {{mesa}}
            </li>
            <div>
                <form action="{% url 'EliminarMesaluz' mesa.id %}" method="POST">{% csrf_token %}
                    <button type="submit"> Eliminar </button>
                </form>
            </div>
        {% endfor %}
            
    </ul>

{% endblock Cambiante %}