{% extends 'AppPlayground/Padre.html' %}

{% load static %}


{% block Cambiante %}

    <h1>Lista de Escritorios</h1>


    <ul>
        
        {% for escritorio in escritorios %}
            <li>
                {{escritorio}}
            </li>
            <div>
                <form action="{% url 'EliminarEscritorio' escritorio.id %}" method="POST">{% csrf_token %}
                    <button type="submit"> Eliminar </button>
                </form>
                <form action="{% url 'EditarEscritorio' escritorio.id %}" method="POST">{% csrf_token %}
                    <button type="submit"> Editar </button>
                </form>
            </div>
        {% endfor %}
            
    </ul>

{% endblock Cambiante %}