{% extends 'AppPlayground/Padre.html' %}

{% load static %}


{% block Cambiante %}

    <h1>Lista de Tarjetas</h1>

    <ul>
        
        {% for tarjeta in tarjetas %}
            <li>
                <a href="{% url 'DetalleTarjeta' tarjeta.id %}">
                    {{tarjeta}}
                </a>
            </li>
            <div>
                <button>
                    <a href="{% url 'EliminaTarjeta' tarjeta.id %}">Eliminar</a>
                </button>
                <button>
                    <a href="{% url 'ActualizaTarjeta' tarjeta.id %}">Editar</a>
                </button>
            </div>
        {% endfor %}
            
    </ul>

{% endblock Cambiante %}